{% extends "app/base.html" %}
{% block content %}
{% load static %}

<body>
    <section class="login py-5">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center g-0 logshow bg-white text-center">
                <div class="text-center py-5">
                     <h1 class="p-5">Password Reset Successful</h1>
                     <div class="alert alert-info">
                         Your password has been set
                     </div>
                     <a class="btn btn-primary py-5 mb-3"href="{% url 'login' %}">Login</a>
                </div>                        
            </div>
        </div>

    </section>

    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
{% endblock %}