{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<body class="bodie">
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Department</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <div class="navbar-nav">
          <div class="nav-item text-nowrap">
            {% if user.is_authenticated %}
              <a class="nav-link px-3" href="{% url 'profile' %}">Profile</a>
              <a class="nav-link px-3" href="{% url 'logout' %}">Log out</a>
            {% else %}
              <a class="nav-link px-3" href="{% url 'login' %}">Login</a>
            {% endif %}
          </div>
        </div>
      </header>

      <section>
        <div class="container">
          <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light mt-3 sidebar collapse">
              <div class="pt-3">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                      Dashboard
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      Logistics
                    </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenuLink" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                      Containers
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item " href="#"> Add New Product</a>
                    </div>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link dropdown-toggle" id="dropdownMenuLink2" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                      Trademarks
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                      <a class="dropdown-item" href="#"> Add New Product</a>
                    </div>
                  </li>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </section>

      <section class="col-md-9 ms-sm-auto col-lg-10 px-md-4 dashsec">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2 p-3">Profile</h1>
        </div>
        {% if messages %}
          {% for message in messages %}
            <div class="d-flex flex-sm-row flex-column alert alert-{{message.tags}}">
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <div class="d-flex justify-content-center align-items-center mb-3">
           <div class="media">
               <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
               <div class="media-body">
                   <h2 class="account-heading text-center">{{ user.username}}</h2>
                   <p class="text-secondary text-center">{{ user.email }}</p>
               </div>
           </div>
        </div>
      </section>

      <section class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center p-2">
          <form method="POST" enctype="multipart/form-data" class="d-flex justify-content-center p-2 align-items-center mb-3">
              {% csrf_token %}
              <fieldset class="align-items-center py-4 text-center form-group">
                  {{ u_form|crispy }} <br>
                  {{ p_form|crispy }}
              
              <div class="d-flex justify-content-center py-5 mb-5 form-group">
                <button class="btn btn-primary py-3 p-4" type="submit">Update</button>
              </div>

            </fieldset>
            </form>
            </div>
        
      </section>
        


    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
{% endblock %}